.contenedor{
  background: white;
  display: flex;
  flex-direction: column;
  padding: 35px 40px 30px 45px;
  border: 1px solid black;
  border-radius: 6px;
  min-width: 300px;
  position: relative;
  margin-bottom: 25px;
  margin:1px auto;
  text-align: center;
}
.contenido{
  display: flex;
  flex-direction: row;
  color: black;
  flex: 0 1 50px;
  background-color: white;
  border: solid 1px #1c4051;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  height: 500px;
  width:300px;
  margin:1px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contenido h5{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;  
  margin: 0 auto;
}
